@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
   list-style: none;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container {
    padding: 80px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    font-weight: 700;
    color: rgb(247 250 252);
    padding: 12px 32px;
    border: none;
    border-radius: 30px;
}

.purple {
    color: #6415ff;
}

.section__title {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
}


/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    height: 40px;
    padding-right: 12px;
}

.nav__img--wrapper {
    display: flex;
}

.treact__link {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #243e63;
    border: none;
    font-weight: 700;
}

.treact__link:hover {
    text-decoration: none;
}

.nav__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 400px;
}

.nav__link {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: #243e63;
}

.nav__get-connected {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #243e63;
}

.nav__btn {
    margin-left: 8px;
}

/* LANDING */

.landing__title {
    font-size: 48px;
}

.landing__wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.landing__info--wrapper {
    width: 40%;
}

.landing__para {
    font-size: 18px;
    color: #243e63;
    margin-top: 55px;
    margin-bottom: 55px;
}

.landing__sub--para {
    font-size: 12px;
    color: #a0aec0;
    font-weight: 700;
    margin-top: 40px;
}

.landing__img--wrapper-1 {
    display: flex;
}

.landing__img-1 {
    width: 100%;
    opacity: 0.5;
}

.landing__img--wrapper {
    width: 60%;
    display: flex;
}

.landing__img-2 {
    width: 100%;
    height: 600px;
}

.landing__input--wrapper {
    position: relative;
}

.landing__input {
    padding: 16px;
    border: 2px solid #a0aec0;
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.landing__input::placeholder {
    color: #a0aec0;
}

.landing__button {
    position: absolute;
    width: 30%;
    left: 69%;
    bottom: 10%;
}

/* FEATURES */

.features__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.features__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.features__para {
    font-size: 18px;
    color: #7c8ba1;
}

.features__services {
    display: flex;
    flex-wrap: wrap;
}

.features__service {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding-left: 16px;
    color: #243e63;
}

.features__service--para {
    color: #7c8ba1;
}

/* QUALITY */

.quality__info--wrapper {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quality__img--wrapper {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality__img {
    width: 100%;
}

.quality__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.quality__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-bottom: 24px;
}

/* STEPS */

.steps__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 600px;
}

.steps__info--wrapper {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps__img--wrapper {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.steps {
    display: flex;
    flex-direction: column;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
}

.steps__img {
    width: 100%;
    height: 100%;
    padding-right: 32px;
}

.step__title {
    font-size: 20px;
    color: #243e63;
}

.step__para {
    font-size: 12px;
    color: #718096;
    padding-bottom: 24px;
}

/* VALUES */

.values__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.values__para {
    font-size: 18px;
    color: #7c8ba1;
    padding-bottom: 24px;
}

.values__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.values__info--wrapper {
    width: 50%;
    height: 600px;
}

.values__img--wrapper {
    width: 50%;
    height: 600px;
    display: flex;
}

.values__img {
    width: 100%;
    height: 100%;
}

.values__tid-bit--wrapper {
    display: flex;
}

.tid-bits {
    display: flex;
    margin-bottom: 24px;
}

.tid-bit {
    width: 50%;
}

.tid-bit__title {
    font-size: 20px;
    color: #243e63;
}

.tid-bit__para {
    font-size: 16px;
    color: #718096;
}

/* PRICING */

.pricing__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pricing__info--wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 64px;
}

.pricing__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.pricing__para {
    font-size: 18px;
    color: #7c8ba1;
    width: 100%;
    max-width: 576px;
}

.plans {
    display: flex;
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 32px;
    text-align: center;
}

.plan__personal {
    width: calc(100%/3);
    height: 100%;
}

.plan__business {
    width: calc(100%/3);
}

.plan__enterprise {
    width: calc(100%/3);
}

/* PERSONAL */

.personal__top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    background-color: rgb(56, 178, 172);
    border-radius: 30px 30px 0 0;
}

.personal__middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 -32px;
    padding: 32px;
    background-color: rgb(56, 178, 172);
    border-top: 1px solid rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
}

.personal__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 64px;
    background-color: rgb(56, 178, 172);
    border-radius: 0 0 30px 30px;
}

.personal__title {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.personal__price {
    font-size: 48px;
    font-weight: 700;
    color: #f7fafc;
    margin: 4px;
}

.personal__duration {
    font-size: 16px;
    font-weight: 700;
    color: #edf2f7;
}

.personal__target {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.personal__feature {
    font-size: 16px;
    color: #edf2f7;
    margin-top: 20px;
}

.personal__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 700;
    color: rgb(56, 178, 172);
    padding: 12px 32px;
    border: none;
    border-radius: 30px;
}

/* BUSINESS */

.business__top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    background-color: rgb(76, 81, 191);
    border-radius: 30px 30px 0 0;
}

.business__middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 -32px;
    padding: 32px;
    background-color: rgb(76, 82, 191);
    border-top: 1px solid rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
}

.business__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 64px;
    background-color: rgb(76, 81, 191);
    border-radius: 0 0 30px 30px;
}

.business__title {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.business__price {
    font-size: 48px;
    font-weight: 700;
    color: #f7fafc;
    margin: 4px;
}

.business__duration {
    font-size: 16px;
    font-weight: 700;
    color: #edf2f7;
}

.business__target {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.business__feature {
    font-size: 16px;
    color: #edf2f7;
    margin-top: 20px;
}

.business__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 700;
    color: rgb(76, 81, 191);
    padding: 12px 32px;
    border: none;
    border-radius: 30px;
}

/* ENTERPRISE */

.enterprise__top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    background-color: rgb(245, 101, 101);
    border-radius: 30px 30px 0 0;
}

.enterprise__middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 -32px;
    padding: 32px;
    background-color: rgba(245, 101, 101);
    border-top: 1px solid rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
}

.enterprise__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 64px;
    background-color: rgba(245, 101, 101);
    border-radius: 0 0 30px 30px;
}

.enterprise__title {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.enterprise__price {
    font-size: 48px;
    font-weight: 700;
    color: #f7fafc;
    margin: 4px;
}

.enterprise__duration {
    font-size: 16px;
    font-weight: 700;
    color: #edf2f7;
}

.enterprise__target {
    font-size: 20px;
    font-weight: 700;
    color: #f7fafc;
}

.enterprise__feature {
    font-size: 16px;
    color: #edf2f7;
    margin-top: 20px;
}

.enterprise__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 700;
    color: rgb(245, 101, 101);
    padding: 12px 32px;
    border: none;
    border-radius: 30px;
}

/* LINKS */

.links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: #6415ff;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}

.main__links {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.link {
    width: 100%;
    font-size: 14px;
    color: #f7fafc;
    margin-bottom: 12px;
    display: inline-block;
}

.link__title {
    font-size: 16px;
    color: #f7fafc;
    padding-bottom: 24px;
    font-weight: 700;
}