@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
   list-style: none;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 32px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    font-weight: 700;
    color: rgb(247 250 252);
    padding: 12px 32px;
    border: none;
    border-radius: 30px;
}

.purple {
    color: #6415ff;
}

.section__title {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
}


/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    height: 40px;
    padding-right: 12px;
}

.nav__img--wrapper {
    display: flex;
}

.treact__link {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #243e63;
    border: none;
    font-weight: 700;
}

.treact__link:hover {
    text-decoration: none;
}

.nav__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 400px;
}

.nav__link {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: #243e63;
}

.nav__get-connected {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #243e63;
}

.nav__btn {
    margin-left: 8px;
}

/* LANDING */

.landing__title {
    font-size: 48px;
    margin-top: 60px;
}

.landing__wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.landing__info--wrapper {
    width: 40%;
    justify-content: space-between;
}

.landing__para {
    font-size: 18px;
    color: #243e63;
    margin-top: 55px;
    margin-bottom: 55px;
}

.landing__sub--para {
    font-size: 12px;
    color: #a0aec0;
    font-weight: 700;
    margin-top: 40px;
}

.landing__img--wrapper-1 {
    display: flex;
}

.landing__img-1 {
    width: 100%;
    opacity: 0.5;
}

.landing__img--wrapper {
    width: 60%;
    height: 600px;
    display: flex;
}

.landing__img-2 {
    width: 100%;
    height: 600px;
}

.landing__input--wrapper {
    position: relative;
}

.landing__input {
    padding: 16px;
    border: 2px solid #a0aec0;
    position: relative;
    width: 100%;
    border-radius: 30px;
}

.landing__input::placeholder {
    color: #a0aec0;
}

.landing__button {
    position: absolute;
    width: 30%;
    left: 69%;
    bottom: 10%;
}

/* FEATURES */

.features__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.features__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.features__para {
    font-size: 18px;
    color: #7c8ba1;
}

.features__services {
    display: flex;
    flex-wrap: wrap;
}

.features__service {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding-left: 16px;
    color: #243e63;
}

.features__service--para {
    color: #7c8ba1;
}

/* QUALITY */

.quality__info--wrapper {
    width: 40%;
    height: 600px;
}

.quality__img--wrapper {
    width: 60%;
    height: 600px;
}

.quality__img {
    width: 100%;
}

.quality__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.quality__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-bottom: 24px;
}

/* STEPS */

.steps__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 100px;
}

.steps__info--wrapper {
    width: 40%;
    height: 600px;
}

.steps__img--wrapper {
    width: 60%;
    height: 600px;
}

.steps__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.steps {
    display: flex;
    flex-direction: column;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
}

.steps__img {
    width: 100%;
    height: 100%;
    padding-right: 32px;
}

.step__title {
    font-size: 20px;
    color: #243e63;
}

.step__para {
    font-size: 12px;
    color: #718096;
    padding-bottom: 24px;
}

/* VALUES */

.values__sub-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #243e63;
}

.values__para {
    font-size: 18px;
    color: #7c8ba1;
    padding-bottom: 16px;
}

.values__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.values__info--wrapper {
    width: 40%;
}

.values__img--wrapper {
    width: 60%;
}

.values__img {
    width: 100%;
    height: 100%;
}

.values__tid-bit--wrapper {
    display: flex;
}

.tid-bits {
    display: flex;
}

.tid-bit {
    width: 50%;
}

.tid-bit__title {
    font-size: 20px;
    color: #243e63;
}

.tid-bit__para {
    font-size: 16px;
    color: #718096;
}